<div class="row">
  <button class="btn btn-primary" routerLink="/car/create" [routerLinkActive]="['active']" href="#">New Car</button>
  <table class="table table-hover">
    <thead>
    <th>Index</th>
    <th>ChassisNr</th>
    <th>Brand</th>
    <th>Owned By</th>
    <th>Sold By</th>
    <th>Sold By</th>
    </thead>
    <tbody>
    <tr
      *ngFor="let camera of camera; let i = index" [attr.data-index]="i">
      <td>{{ i + 1 }}</td>

        <!--<a-->
          <!--class="clearfix"-->
          <!--routerLink="/home/{{ camera.cameraName }}"-->
          <!--[routerLinkActive]="['active']"-->
          <!--href="#"-->
          <!--(click)=""-->
        <!--&gt;{{ camera._id }}</a>-->
      <td>{{ camera._id }}</td>
      <td>{{ camera.cameraName }}</td>
      <td>{{ camera.location }}</td>
      <td>{{ camera.user }}</td>
      <td>{{ camera.alarm }}</td>
    </tr>
    </tbody>
  </table>
</div>
