<div class="sticky-component">
  <div class="row">
    <div class="col">
      <h2>{{title}}</h2>
    </div>
  </div>
  <form
    *ngIf="camera"
    #cameraCreateForm="ngForm"
    name="form"
    (ngSubmit)="cameraCreateForm.form.valid && onSubmit()"
    novalidate
  >

    <div class="form-row">
      <div class="form-group col-lg-12">
        <label for="userName">username</label>
        <input type="text" class="form-control" name="userName" [(ngModel)]="camera.user" #userName="ngModel" required minlength="3"/>
        <div *ngIf="userName.invalid && (userName.dirty || userName.touched)"
             class="alert alert-danger">
          <div *ngIf="userName.errors.required">
            username is required.
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-lg-12">
        <label for="cameraName">Camera name</label>
        <input type="text" class="form-control" name="cameraName" [(ngModel)]="camera.cameraName" #cameraName="ngModel" required minlength="7"/>
        <div *ngIf="cameraName.invalid && (cameraName.dirty || cameraName.touched)"
             class="alert alert-danger">
          <div *ngIf="cameraName.errors.required">
            Camera name is required.
          </div>
          <div *ngIf="cameraName.errors.minlength">
            Camera name must be at least 7 characters long.
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-lg-12">
        <label for="cameraLocation">Camera location</label>
        <input type="text" class="form-control" name="cameraLocation" [(ngModel)]="camera.location" #cameraLocation="ngModel" required minlength="7"/>
        <div *ngIf="cameraLocation.invalid && (cameraLocation.dirty || cameraLocation.touched)"
             class="alert alert-danger">
          <div *ngIf="cameraLocation.errors.required">
            Camera location is required.
          </div>
          <div *ngIf="cameraLocation.errors.minlength">
            Camera location must be at least 7 characters long.
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-lg-12">
        <label for="cameraCompany">Camera company</label>
        <input type="text" class="form-control" name="cameraCompany" [(ngModel)]="camera.company" #cameraCompany="ngModel" required minlength="5"/>
        <div *ngIf="cameraCompany.invalid && (cameraCompany.dirty || cameraCompany.touched)"
             class="alert alert-danger">
          <div *ngIf="cameraCompany.errors.required">
            Camera company is required.
          </div>
          <div *ngIf="cameraCompany.errors.minlength">
            Camera company must be at least 5 characters long.
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-lg-12">
        <label for="cameraBuilding">Camera building</label>
        <input type="text" class="form-control" name="cameraBuilding" [(ngModel)]="camera.building" #cameraBuilding="ngModel" required minlength="1"/>
        <div *ngIf="cameraBuilding.invalid && (cameraBuilding.dirty || cameraBuilding.touched)"
             class="alert alert-danger">
          <div *ngIf="cameraBuilding.errors.required">
            Camera building is required.
          </div>
          <div *ngIf="cameraBuilding.errors.minlength">
            Camera building must be at least 1 character long.
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-lg-12">
        <label for="cameraAngle">Camera location</label>
        <input type="text" class="form-control" name="cameraAngle" [(ngModel)]="camera.angle" #cameraAngle="ngModel" required minlength="2"/>
        <div *ngIf="cameraAngle.invalid && (cameraAngle.dirty || cameraAngle.touched)"
             class="alert alert-danger">
          <div *ngIf="cameraAngle.errors.required">
            Camera angle is required.
          </div>
          <div *ngIf="cameraAngle.errors.minlength">
            Camera angle must be at least 2 ditis long.
          </div>
        </div>
      </div>
    </div>

    <div class="form-row align-items-right">
      <div class="col-auto">
        <div class="form-group float-right">
          <button
            type="button"
            class="btn btn-spacing btn-outline-warning float-right"
            routerLink='..'
          >Cancel
          </button>
          <button
            type="submit"
            class="btn btn-success float-right"
            [disabled]="!cameraCreateForm.valid"
          >Save
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
